<li>
	{{name}}

	<button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}Eat Me!{{else}}Order Again!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">Remove</button>
</li>
